

.articles-wrapper {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  color: black;
}



.article-card {
  text-align: center;  
  padding: 10px;
  border: 2px solid black;
}

.card-btn {
  border-color: black; 
  border: none;
  margin: 2px; 
}

.card-btn:hover{
  border: 1px solid black;
}
