.articles-wrapper {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  color: black;
}

.article-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 10px grey;
  transition: transform .07s ease-in-out;
}

.article-card:hover {
  transform: translate(5px, 5px);
}

.image-container {
  height: 150px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-between;
}

.article-details h3 {
  margin: 0;
}

.article-details p {
  margin: 0;
  margin-top: 5px;
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.article-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;
}

button {
  cursor: pointer;
}

.para-wrapper,
.details-wrapper {
  width: 100%;
}


.header {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

.header img {
  height: 100%;
  object-fit: none;
  width: 100%;
}

.header h1 {
  margin: 0;
  padding: 0;
}

.detail-title,
.detail-byline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail-image-container {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
}

.detail-image {
  height: 100%;
}

.article-abstract,
.article-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-home-container {
  width: 45em;
  display: flex;
  flex-direction: column;
  align-items: center;
}